<!doctype html>
<html lang="en">
  <head>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAojZCynw9aDM7eiwS2whbLKprfOYfLgGE",
        authDomain: "graduation-1f4f6.firebaseapp.com",
        databaseURL: "https://graduation-1f4f6.firebaseio.com",
        projectId: "graduation-1f4f6",
        storageBucket: "graduation-1f4f6.appspot.com",
        messagingSenderId: "641118825322"
      };

      firebase.initializeApp(config);
               const db = firebase.firestore();
               // db.settings({ timestampsInSnapshots: true });
    </script>


    <title>Colorlib Villa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="./asset/css/bootstrap.css">
    <link rel="stylesheet" href="./asset/css/animate.css">
    <link rel="stylesheet" href="./asset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="./asset/css/aos.css">

    <link rel="stylesheet" href="./asset/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="./asset/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="./asset/css/style.css">
  </head>
  <body>

    <header class="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4 site-logo" data-aos="fade"><a href="/"><em>Menuf</em></a></div>
          <div class="col-8">


            <div class="site-menu-toggle js-site-menu-toggle"  data-aos="fade">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

                        <div class="site-navbar js-site-navbar" style="background-image: url(./asset/img/aaa.jpg)">
                          <nav role="navigation">
                            <div class="container">
                              <div class="row full-height align-items-center">
                                <div class="col-md-6">
                                  <ul class="list-unstyled menu">
                                    <li><a href="/">Home</a></li>
                                    <li class="active"><a href="hotel">Hotel</a></li>
                                        <li><a href="resturant">Resturant</a></li>
                                        <li><a href="electronics">Electronics</a></li>


                                  </ul>

                                </div>
                                <div class="col-md-6">
                                 <ul class="list-unstyled menu">
                                   <li><a href="medical">Medical</a></li>
                                   <li><a href="logInAdmin">Admin</a></li>
                                   <li><a href="logIn"class="fab fa-google fa-lg">Chat</a></li>
                               <li><a href="logInAdmin">Sign in</a></li>
                               <li class="logged-in">
                                 <a href="#" class="grey-text" id="logout">Logout</a>
                               </li>
                                     </ul>
                                  </div>
                              </div>
                            </div>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </header>
    <!-- END head -->

    <section class="site-hero overlay page-inside" style="background-image: url(./asset/img/rest.jpg)">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center">
            <h1 class="heading" data-aos="fade-up">Our resturant</h1>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">Enjoy your stay.</p>

  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <input id="search" class="search_input" type="text" name=""  value="" placeholder="Search...">
      <a href='search' class="search_icon" id="sers" ><i class="fas fa-search"></i></a>
    </div>
  </div>
          </div>
        </div>
        <!-- <a href="#" class="scroll-down">Scroll Down</a> -->
      </div>
    </section>
    <div class="link">
      <div class="container">
        <div class="row">
          <div class="col-sm">
                  <a href="#SECTION1" >Five stars</a>
          </div>
          <div class="col-sm">
              <a href="#SECTION2">Good Service</a>
          </div>
          <div class="col-sm">
              <a href="#SECTION3">General</a>
          </div>
        </div>
      </div>
    </div>
    <div class="results" id="SECTION1" style="display:none">
      <h1 class="hed">five star resturant</h1>  </div>
      <div class="results" id="SECTION2" style="display:none">
        <h1 class="hed">good</h1>  </div>
        <div class="results" id="SECTION3" style="display:none">
          <h1 class="hed">general</h1>  </div>
    <script src="./asset/js/jquery-3.2.1.min.js"></script>
    <script src="./asset/js/popper.min.js"></script>
    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/owl.carousel.min.js"></script>
    <script src="./asset/js/jquery.waypoints.min.js"></script>
    <script src="./asset/js/aos.js"></script>
    <script src="./asset/js/main.js"></script>
      <script src="./asset/js/render.js"></script>
    <script>;
    window.onload = renderInf();
    const logout = document.querySelector('#logout');
    logout.addEventListener('click', (e) => {
      e.preventDefault();
      firebase.auth().signOut().then(function() {
  console.log('Signed Out');
  window.location.reload(false);
})
    });

    </script>



    <style>

    body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #7b6f6e !important;
    }

    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }
    a {
    margin: 2px;
    padding: 20px;
    font-size: 21px;
    font-weight: bold;
    color: #0b0567;}
    .link{

    padding: 10px;
    margin: 10px;
    }
.hed{
      position: relative;
      left: 536px;
margin: 6px;
padding: 15px;
    }
    </style>
  </body>
</html>
